@font-face {
  font-family: 'iconfont';  /* project id 570197 */
  src: url('https://at.alicdn.com/t/font_570197_uaysvzy9qo6zjjor.eot');
  src: url('https://at.alicdn.com/t/font_570197_uaysvzy9qo6zjjor.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_570197_uaysvzy9qo6zjjor.woff') format('woff'),
  url('https://at.alicdn.com/t/font_570197_uaysvzy9qo6zjjor.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_570197_uaysvzy9qo6zjjor.svg#iconfont') format('svg');
}
.anli{
	width: 100%;
	height: 3719px;
	position: relative;
	/* background-color: blue; */
}
.anli_head{
	width: 100%;
	height: 80px;
	background-color: #fafafa;
}
.anli_head_main{
	width: 1200px;
	height: 80px;
	background-color: #fafafa;
	margin: 0 auto;
	overflow: hidden;

}
.anli_head_logo1{
	width: 6px;
	height: 21px;
	background-color: #2b6c8c;
	float: left;
	margin-left: 7px;
	margin-top: 9px;
}
.anli_head_logo2{
	width: 56px;
	height: 6px;
	background-color: #2b6c8c;
	float: left;
	margin-top: 24px;
}
.anli_head_logo3{
	width: 6px;
	height: 43px;
	background-color: #2b6c8c;
	float: left;
	margin-left: -50px; 
	margin-top: 24px;
}
.anli_head_logo4{
	width: 6px;
	height: 37px;
	background-color: #2b6c8c;
	float: left;
	margin-left: -20px; 
	margin-top: 31px;
}
.anli_head_logo5{
	width: 42px;
	height: 6px;
	background-color: #2b6c8c;
	float: left;
	margin-left: -56px; 
	margin-top: 68px;
}
.anli_head_title{
	width: 50px;
	height: 60px;
	text-align: center;
	float: left;
	margin-top: 18px;
}
.anli_head_title a{
	font-size: 20px;
	color: #2b6c8c;
	font-weight: 400;
}
.anli_head_daohang{
	width: 580px;
	height: 80px;
	/* background-color: pink; */
	float: left;
	margin-left: 295px;
}
.anli_head_daohang a{
	font-size: 14px;
	color: #474747;
	line-height: 80px;
	margin-right: 35px;
	cursor: pointer;
}
.anli_head_daohang a:hover{
	font-size: 16px;
	color: #2b6c8c;
}
.anli_head_daohang .xuanzhong{
	color: #2b6c8c;
}
.anli_head_search{
	width: 169px;
	height: 23px;
	background-color: #fafafa;
	border-radius: 23px;
	border: 1px solid #bfbfbf;
	float: left;
	margin-left: 2px;
	margin-top: 25px;
}
.anli_head_icon{
	font-family: 'iconfont';
	color: #5c5c5c;
	font-size: 14px;
	float: left;
	margin-left: 150px;
	line-height: 23px;
}
.anli_banner1{
	width: 100%;
	height: 313px;
	background-color: #bdccd4;
	/* overflow: hidden; */
	
	float: left;
}
.anli_banner{
	width: 1200px;
	height: 313px;
	margin: 0 auto;
	
	position: relative;
	/* background-color: pink; */
}
.anli_banner H1{
	font-size: 48px;
	color: #fff;
	margin-left: 394px;
	margin-top: 78px;
}
.anli_banner img{
	width: 440px;
	height: 460px;
	margin-left: 430px;
	margin-top: -230px;
}
.anli_banner span{
	font-size: 38px;
	color: #fff;
	position: absolute;
	left: 540px;
	top: 150px;
}
.anli_banner_nav{
	width: 1200px;
	height: 70px;
	background-color: #2b6c8c;
	margin-left: 33px;
	position: absolute;
	left: 0;
	bottom: 28px;
}
.banner_anlishangmian{
	width: 35px;
	height: 2px;
	background-color: #2b6c8c;
	position: absolute;
	z-index: 4;
	left: 50%;
	top: 54px;
}
.anli_banner_daohang{
	width: 350px;
	height: 70px;
	background-color: #0b0b0d;
	display: inline-block;
	overflow: hidden;
}
.anli_banner_daohang2{
	width: 5px;
	height: 70px;
	background-color: #f5c813;
	display: inline-block;
	margin-left: -5px;
}
.anli_banner_shutiao1{
	width: 4px;
	height: 34px;
	background-color: #fff;
	margin-left: 30px;
	margin-top: 18px;
	border-radius: 30px;
	float: left;
}
.anli_banner_shouye{
	width: 50px;
	height: 50px;
	margin-left: 7px;
	margin-top: 17px;
	float: left;
}
.anli_banner_shouye a{
	font-size: 16px;
	color: #fff;
}
.anli_banner_dian{
	width: 15px;
	height: 4px;
	float: left;
	margin-left: 31px;
	margin-top: 31px;
	display: inline-block;
}
.anli_banner_dian1{
	width: 4px;
	height: 4px;
	background-color: #858586;
	margin-right: 1px;
	border-radius: 4px;
	float: left;
}
.anli_banner_dian2{
	background-color: #cececf;
}
.anli_banner_dian3{
	background-color: #ffffff;
}
.anli_banner_shutiao2{
	margin-left:30px; 
}
.anli_banner_zhangshi{
	width: 148px;
	height: 50px;
	margin-left: 7px;
	margin-top: 17px;
	float: left;
}
.znlizhanshi{
	display: block;
}
.anli_banner_zhangshi a{
	font-size: 16px;
	color: #fff;
}
.anli_banner_shafa{
	width: 450px;
	height: 450px;
	z-index: 5;
	position: absolute;
	right: 0px;
	top: 130px;
}
.anli_banner_huangkuai{
	width: 139px;
	height: 139px;
	border-radius: 10px;
	background-color: rgba(255, 234, 5,1.0);
	position: absolute;
	z-index: 6;
	right: 265px;
	top: 377px;
	mix-blend-mode: multiply;
}
.anli_banner_nav img{
	width: 285px;
	height: 265px;
	position: absolute;
	right: 0;
	bottom: -40px;
}

.banner_yuanjiaojuxing{
	width: 139px;
	height: 139px;
	border-radius: 10px;
	background-color: rgba(255, 234, 5,1.0);
	position: absolute;
	z-index: 6;
	left: 65%;
	top: 259px;
	mix-blend-mode: multiply;
}
.anli_content{
	width: 1200px;
	height:1080px;
	margin: 0 auto;
	background-color: #fff;
	overflow: hidden;
}
.anli_content1{
	width: 1200px;
	position: relative;
	height: 980px;
}
.chenggonganli_title{
	width: 277px;
	height: 52px;
	margin: 78px auto 0;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	position: relative;
}
.chenggonganli_title P{
	font-family: "ZefaniStencil Regular";
	font-size: 24px;
	color: #184f6b;
	text-align: center;
	line-height: 54px;
}
.chenggonganli_title_top1{
	width: 11px;
	height: 1px;
	background-color: #b4b4b4;
	margin-right: 24px;
	float: left;
}
.chenggonganli_title_top2{
	width: 89px;
	height: 1px;
	background-color: #000;
	float: left;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin-right: 9px;
}
.chenggonganli_title_top3{
	width: 10px;
	height: 10px;
	background-color: #184f6b;
	transform: rotate(45deg);
	position: absolute;
	left: 128px;
	top: -4px;
}
.chenggonganli_title_top4{
	width: 89px;
	height: 1px;
	background-color: #000;
	float: left;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin-left: 9px;
}
.chenggonganli_title_top5{
	width: 11px;
	height: 1px;
	background-color: #b4b4b4;
	margin-left: 24px;
	float: right;
}
#chenggonganli_title_small{
	text-align: center;
	font-size: 22px;
	color: #000;
	font-weight: bold;
	margin-bottom: 12px;
}
.chenggonganli_title_xiushi{
	width: 85px;
	height: 1px;
	margin: 0 auto 30px;
	position: relative;
}
.chenggonganli_title_xiushi_xia1{
	width: 36px;
	height: 1px;
	background-color: #888;
	float: left;
}
.chenggonganli_title_xiushi_xia2{
	width: 36px;
	height: 1px;
	background-color: #888;
	float: right;
}
.chenggonganli_title_xiushi_xia3{
	width: 6px;
	height: 6px;
	background-color: #184f6b;
	border-radius: 50%;
	position: absolute;
	left: 39px;
	top: -2px;
}
.anli_content_logo{
	width: 295px;
	height: 90px;
	margin: 0 auto;
}
.anli_content_logo img{
	width: 295px;
	height: 300px;
}
.anli_content_tupian1{
	width: 470px;
	height: 450px;
	/* background-color: pink; */
	margin-top: 30px;
	margin-left: 98px;
	float: left;
	border: 2px solid #e4e4e4;
	position: relative;
	margin-right: 36px;
}
.anli_content_tupian1 img{
	width: 470px;
	height: 342px;
}
.anli_content_dingweitu{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 28px;
	bottom: 64px;
	display: inline-block;
}
.anli_content_dingweitu img{
	width: 70px;
	height: 70px;
}
.anli_content_tupian1 p{
	font-size: 14px;
	color: #979598;
	float: left;
	margin-left: 117px;
	margin-top: -60px;
	display: inline-block;
}
.anli_content_tupian1 H1{
	font-size: 16px;
	color: #2a6a8d;
	font-weight: 800;
	margin-left: 174px;
	margin-top: 10px;
}
.anli_content_tiao1{
	width: 93px;
	height: 1px;
	background-color: #333;
	margin-left: 117px;
	margin-top: 9px;
}
.anli_content_tiao2{
	width: 238px;
	height: 1px;
	background-color: #dcdcdc;
	margin-left: 210px;
	margin-top: -1px;
}
.anli_content_wenzi{
	width: 282px;
	height: 54px;
	margin-top: 10px;
	margin-left: 117px;
	display: inline-block;
}
.anli_content_wenzi span{
	font-size: 14px;
	color: #808080;
}
.anli_content_more{
	width: 25px;
	height: 25px;
	background-color: #fff;
	border: 2px solid #dcdcdc;
	margin-left: 418px;
	margin-top: -40px;
	text-align: center;
}
.anli_content_l1{
	width: 4px;
	height: 12px;
	background-color: #7f7f7f;
	margin-left: 10px;
	margin-top: 8px;
}
.anli_content_l2{
	width: 12px;
	height: 4px;
	background-color: #7f7f7f;
	margin-left: 6px;
	margin-top: -8px;

}
.anli_content_tupian2{
	width: 228px;
	height: 341px;
	border: 2px solid #e4e4e4;
	margin-top: 30px;
	float: left;
	/* background-color: pink; */
	position: relative;
	margin-right: 36px;
}
.anli_content_tupian3{
	margin-left: 0px;
	position: absolute;
	left: 98px;
	top: 600px;
}
.anli_content_tupian4{
	margin-left: 0px;
	position: absolute;
	left: 365px;
	top: 600px;
}
.anli_content_tupian5{
	margin-left: 645px;
	margin-top: -80px;
}
.anli_content_tupian22{
	margin-top: 130px;
	margin-left: 98px;
	margin-right: 0px;
}
.anli_content_tupian2 img{
	width: 228px;
	height: 229px;
	
}
.anli_content_dingweitu2{
	width: 82px;
	height: 82px;
	border-radius: 50%;
	background-color: #fff;
	position: absolute;
	left: 28px;
	bottom: 64px;
	display: inline-block;
}
.anli_content_dingweitu2 img{
	width: 70px;
	height: 70px;
	margin-left: 6px;
}
.anli_content_tupian2 h1{
	font-size: 14px;
	color: #2a6a8d;
	font-weight: 800;
	margin-left: 122px;
	margin-top: 15px;
}
.anli_content_tiao3{
	width: 197px;
	height: 1px;
	background-color: #dcdcdc;
	margin: 0 auto;
	margin-top: 20px;
}
.anli_content_wenzi2{
	width: 198px;
	height: 55px;
	margin: 0 auto;
}
.anli_content_wenzi2 span{
	font-size: 14px;
	color: #808080;
}
.anli_guodutu{
	width: 100%;
	height: 365px;
	position: relative;
	margin:0 auto;
	margin-top:45px;
	/* background-color: pink; */
}
/* .anli_guodutu_nr{
	width: 1200px;
	height: 365px;
	position: relative;
	margin: 0 auto;
} */
.anli_guodutu img{
	width: 652px;
	height: 390px;
	margin-top: -25px;
	/* float: left; */
}
.anli_guodutu_you{
	width: 611px;
	height: 365px;
	background-color: #fff;
	display: inline-block;
	float: right;
	overflow: hidden;
	
}
.anli_guodutu_you img{
	width: 400px;
	height: 500px;
	float: left;
	position: absolute;
	right: 0;
	bottom: -60px;
	margin-left: 220px;
	margin-top: -60px;
}
.anli_guodutu_dingwei{
	width: 611px;
	height: 365px;
	background-color: rgba(31,91,121,.8);
	position: absolute;
	left: 652px;
	top: 0;
}
.anli_guodutu_wenzi{
	width: 355px;
	height: 245px;
	/* background-color: red; */
	margin-left: 35px;
	margin-top: 52px;
}
.anli_guodutu_wenzi span{
	font-size: 14px;
	color: #fff;
}
.anli_guodutu_wenzi h1{
	font-size: 28px;
	color: #fff;
}
.anli_guodutu_wenzi H2{
	font-size: 20px;
	color: #fff;
}
.anli_guodutu_youzi{
	font-size: 14px;
	color: #4e4832;
	font-weight: 800;
	margin-left: 35px;
}
.anli_wanchenganli{
	width: 1200px;
	height: 1280px;
	/* background-color: pink; */
	margin: 0 auto;
	margin-top: 60px;
}
.anli_wanchenganli img{
	width: 295px;
	height: 300px;
	margin: 0 auto;
	margin-left: 460px;
	margin-top: -100px;
}
.anli_wanchenganli_nav{
	width: 500px;
	height: 25px;
	/* background-color: red; */
	margin: 0 auto;
	margin-top: 20px;
}
.anli_wanchenganli_nav a{
	font-size: 14px;
	color:#000;
	margin-right: 40px;
	position: relative;
}
.anli_wanchenganli_hengtiao{
	width: 52px;
	height: 4px;
	position: absolute;
	left: -350px;
	top: 30px;
	z-index: 50;
	display: none;
}
.anli_wanchenganli_xuanzhong{
	width: 13px;
	height: 4px;
	background-color:#50839e;
	margin-left: 350px;
	margin-top: 9px; 
}
.anli_wanchenganli_xuanzhong2{
	width: 52px;
	height: 4px;
	background-color: #e5e5e5;
	margin-top: -4px;
	margin-left: 363px;
}
.anli_wanchenganli_zhanshi{
	width: 1000px;
	height: 1010px;
	/* background-color: #2df; */
	margin: 0 auto;
	margin-top: 46px;
}
.anli_wanchenganli_item{
	width: 314px;
	height: 306px;
	
	border: 2px solid #e4e4e4;
	margin-right: 18px;
	margin-bottom: 24px;
	float: left;
}
.anli_wanchenganli_item2{
	margin-right: 0px;
}
.anli_wanchenganli_item img{
	width: 312px;
	height: 163px;
	margin-left: 1px;
	margin-top: -2px;
}
.anli_wanchenganli_item span{
	font-size: 20px;
	color:#3f3f3f;
	margin-left: 22px;
	margin-top: 22px;
}
.anli_wanchenganli_item p{
	font-size: 14px;
	color: #a7a7a7;
	margin-top: 9px;
	margin-left: 22px;
	font-weight: normal;
}
.anli_wanchenganli_touxiangdi{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border: 2px solid #e5e5e5;
	margin-left: 22px;
	margin-top: 28px;
	display: inline-block;
}
.anli_wanchenganli_touxiangdi img{
	width: 56px;
	height: 56px;
	margin-top: -10px;
	margin-left: -8px;
}
.anli_wanchenganli_item h1{
	font-size: 14px;
	margin-left: 74px;
	margin-top: -40px;
	color: #949494;
}
.anli_wanchenganli_item h2{
	font-size: 14px;
	margin-left: 128px;
	margin-top: -20px;
	color: #2b6c8c;
}
.anli_wanchenganli_more{
	width: 25px;
	height: 25px;
	background-color: #000;
	margin-left: 267px;
	margin-top: -20px;
	overflow: hidden;
}
.anli_wanchenganli_l1{
	width: 8px;
	height: 2px;
	background-color: #fff;
	margin-left: 9px;
	margin-top: 12px;
}
.anli_wanchenganli_l2{
	width: 2px;
	height: 8px;
	background-color: #fff;
	margin-left: 12px;
	margin-top: -5px;
}
.wanchenganli_tiaozhuan{
	width: 310px;
	height: 38px;
	margin: 0 auto;
	overflow: hidden;
}
.anli_wanchenganli_icon{
	 font-family: 'iconfont';
	 font-size: 22px;
	 color: #4c4c4c;
	 margin-right: 20px;
	 line-height: 38px;
	 float: left;
}
.anli_wanchenganli_icon2{
	margin-top: -24px;
	margin-left: 10px;
}
.anli_wanchenganli_yeshu1{
	width: 24px;
	height: 24px;
	background-color: #e5e5e5;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: -10px;
	float: left;
}
.anli_wanchenganli_yeshu1 span{
	font-size: 14px;
	color: #164f6d;
	margin-left: 6px;
}
.anli_wanchenganli_yeshu2{
	width: 24px;
	height: 24px;
	background-color: #e5e5e5;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: 20px;
	float: left;
}
.anli_wanchenganli_yeshu2 span{
	font-size: 14px;
	color: #164f6d;
	margin-left: 6px;
}
.anli_wanchenganli_yeshu3{
	width: 24px;
	height: 24px;
	background-color: #18516e;
	border-radius: 50%;
	margin-top: 7px;
	margin-left: 20px;
	float: left;
}
.anli_wanchenganli_yeshu3 span{
	font-size: 14px;
	color: #fff;
	margin-left: 6px;
}
.anli_wanchenganli_shengluv{
	width: 20px;
	height: 4px;
	margin-left: 160px;
	margin-top: 20px;
}
.anli_wanchenganli_s1{
	width: 4px;
	height: 4px;
	background-color: #7e94a2;
	margin-right: 2px;
	float: left;
}
.anli_wanchenganli_yeshu11{
	margin-left: 40px;
	margin-top: -16px;
}
.anli_wanchenganli_yeshu11 span{
	margin-left: 2px;
}
.anli_wanchenganli_yeshu12{
	margin-left: 20px;
	margin-top: -16px;
}
.anli_wanchenganli_yeshu12 span{
	margin-left: 2px;
}

.anli_map{
	width: 100%;
	height: 517px;
	background-color: #235975;
	margin-top: 80px;
	float: left;
}
.anli_footer{
	width: 1004px;
	height: 447px;
	margin: 0 auto;
	padding-left: 98px;
	padding-top: 70px;
	padding-right: 98px;
	/* background-color: pink; */
}
.anli_beian{
	width: 100%;
	height: 56px;
	background-color: #191919;
	float: left;
}
.anli_beian_mid{
	width: 610px;
	height: 46px;
	margin: 0 auto;
	padding-top: 10px;
	/* background-color: pink; */
}
.anli_beian_wenzi1{
	width: 506px;
	height: 20px;
	/* margin-top: 10px; */
	/* background-color: yellow; */
	/* float: left; */
	margin-left: 40px;
	line-height: 20px;
}
.anli_beian_wenzi1 span{
	font-size: 11px;
	color: #8d8d8d;
}
.anli_beian_wenzi2{
	width: 524px;
	height: 20px;
	/* background-color: seagreen; */
	/* float: left; */
	margin-left: 20px;
}
.anli_beian_wenzi2 span{
	font-size: 11px;
	color: #8d8d8d;
}
.anli_map_map{
	width: 1000px;
	height: 160px;
	/* background-color: pink; */
	position: relative;
}
.anli_map_dingwei{
	width: 385px;
	height: 80px;
	/* background-color: red; */
	position: absolute;
	left:283px;
	top: 38px; 
}
.anli_map_dingweiicon{
	font-family: 'iconfont';
	font-size: 38px;
	color: #2b6c8c;
	margin-left: 5px;
	margin-top: 15px;
}
.anli_map_address{
	width: 297px;
	height: 70px;
	background-color:#2b6c8c;
	border-radius: 6px; 
	margin-top: -60px;
	margin-left: 80px;
	line-height: 26px;
	padding-top: 14px;
	padding-bottom: 14px;
}
.anli_map_address span{
	font-size: 14px;
	color: #fff;
	margin-left: 20px;
	/* margin-top: -5px; */
}
.anli_map_address p{
	font-size: 14px;
	color: #fff;
	margin-left: 20px;
	margin-top: 13px;
}
.anli_map_liuyan{
	width: 385px;
	height: 180px;
	/* background-color: pink; */
	/* margin-left: 173px; */
	margin-top: 40px;
}
.anli_map_tiao1{
	width: 183px;
	height: 29px;
	background-color: #fff;
	display: inline-block;
	/* margin-top: -50px; */
	line-height: 28px;
}
.anli_map_tiao1 span{
	font-size: 14px;
	color: #a9a9a9;
	margin-left: 20px;
	
}
.anli_map_tiao2{
	margin-left: 12px;
	display: inline-block;
}
.anli_map_liu{
	width: 385px;
	height: 138px;
	margin-top:12px;
	background-color: #fff;
	overflow: hidden;
}
.anli_map_content{
	width: 90px;
	height: 18px;
	margin-left: 20px;
	margin-top: 15px;
	float: left;
}
.anli_map_content span{
	font-size: 14px;
	color: #a9a9a9;
}
.anli_map_1{
	width: 36px;
	height: 24px;
	/* background-color: pink; */
	margin-left: 292px;
	margin-top: -44px;
	border-bottom: 2px solid #88adbf;
}
.anli_map_1 span{
	font-size: 12px;
	color: #276e8c;
}
.anli_map_2{
	width: 26px;
	height: 26px;
	background-color: #2b6c8c;
	margin-left: 326px;
	margin-top: -26px;
	overflow: hidden;
}
.anli_map_l1{
	width: 8px;
	height: 2px;
	background-color: #fff;
	margin-left: 9px;
	margin-top: 12px;
}
.anli_map_l2{
	width: 2px;
	height: 8px;
	background-color: #fff;
	margin-left: 12px;
	margin-top: -5px;
}
.anli_map_wenzi{
	width: 300px;
	height: 165px;
	margin-left: 455px;
	margin-top: -170px;
	/* background-color: pink; */
}
.anli_map_wenzi1{
	width: 160px;
	height: 35px;
	/* background-color: yellow; */
}
.anli_map_wenzi1 span{
	font-size: 14px;
	color: #fff;
	/* display: block; */
}
.anli_map_wenzi1 p{
	font-size: 13px;
	color: #fff;
}
.anli_map_wenzi2{
	width: 64px;
	height: 115px;
	/* background-color: green; */
	margin-top: 15px;
	text-align: center;
	line-height: 30px;
	margin-right: 32px;
	display: inline-block;
}
.anli_map_wenzi2 span{
	font-size: 14px;
	color: #fff;
	margin-bottom: 15px;
}
.anli_map_meiti{
	width: 185px;
	height: 165px;
	margin-left:835px;
	margin-top: -168px;
	/* background-color: pink; */
}
.anli_map_icon{
	width: 170px;
	height: 60px;
	margin-top: 15px;
	/* background-color: red; */
	overflow: hidden;
}
.anli_map_icon1{
	width: 30px;
	height: 30px; 
	border-radius: 50%;
	background-color: #fdfeff;
	margin-top: 15px;
	margin-left: 5px;
	line-height: 30px;
	text-align: center;
	margin-right: 32px;
	float: left;
}
.anli_map_icon1 span{
	font-family: 'iconfont';
	font-size: 20px;
	color: #7f7f7f;
}
.anli_map_icon2{
	margin-right: 0px;
}
.anli_map_guanzhu{
	width: 175px;
	height: 35px;
	/* background-color: blue; */
	margin-top: 10px;
}
.anli_map_guanzhu span{
	font-size: 12px;
	color: #fff;
}